############################
# Eclipse / STS
############################
.metadata/
.project
.classpath
.settings/

############################
# Maven
############################
**/target/

############################
# IntelliJ
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log

############################
# Spring Boot
############################
*.pid
*.seed
*.pid.lock

############################
# Environment Variables
############################
backend/titantrade/src/main/resources/application-dev.yml
.env
.env.*

############################
# Build
############################
bin/
out/

############################
# Temporary Files
############################
*.tmp
*.bak
*.swp

############################
# Node (for future frontend)
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Mac/Linux
############################
.Trashes
.Spotlight-V100

############################
# PostgreSQL Dumps
############################
*.sql
*.dump